@charset "UTF-8";
*{
    margin:0; 
	padding:0; 
	list-style:none; 
	font-family:"malgun gothic"; 
	box-sizing:border-box; 
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    border-top: 1px solid #b6e2e9;
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    background-color: #b6e2e9;
    color: #fff;
    position: relative;

}
.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid #b6e2e9;
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.btn i {
    margin-right: 10px;
}
.subMenu{
    background: #273057;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.subMenu a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #394c7f;
    position: relative;
    
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}

.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}

.subMenu a:hover{
    background: #273057;
    background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: -webkit-linear-gradient(top, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    background: linear-gradient(to bottom, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
    transition: all 0.3s;
    border-bottom: 1px solid #394c7f;
}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 10em;
}



a{text-decoration:none;color:inherit;}

#nav-v2{
	
	width:255px;
	text-align:center;
	color: #ffffff
} 
.menu-v2{ 
	line-height:2;
	border:1px solid #ffffff; 
	position:relative; 
} 
.menu-v2 .submenu{ 
	position:absolute; 
	width:200px; 
	left:240px; 
	border:1px solid #ffffff; 
	background-color: #b6e2e9; 
	color:white; 
	top:1px; 
	display:none; 
	} 
.menu-v2:hover{ 
	background-color: #b6e2e9; 
	color:#ffffff; 
	} 
.menu-v2 .submenu>li:hover{ 
	background-color:#BEE5EB; 
	color:rgb(0, 128, 192); }

